section {
    display: flex;
    flex: 1;
    padding: 10px;
    background-color: #e09ce0;
    margin: 10px;
    border: 2px solid palevioletred;
    border-radius: 2px;
    background-image: url(./blur.png);
    text-shadow: 2px 2px 3px #262626;
    color: white;
  }
  section > article > nav {
    text-shadow: 2px 2px 2px #000;
  
  }
  
  article {
    margin: 70px;
    width: 100%;
  }
  .username {
    text-align: center;
    font-size: 60px;
  }
  .desc {
    width: auto;
    margin-top: 50px;
    font-size: 30px;
    padding-left: 50px;
    line-height: 50px;
  }
  
  .img {
    display: block;
    margin-right: auto;
    float: left; 
    margin: 15px;
    border: 3px solid palevioletred;
    box-shadow: 3px 2px 10px 1px #303030;
    max-width: 20%;
  }
  
  body {
    background-image: url(./blur2.png);
    max-width: 1920px;
    margin: auto;
  }
  
  .p {
    width: 50%;
    color: red;
  }

  main {
    display: flex;
  }
  
  @media screen and (max-width: 1430px) {

    .img {
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: auto;
      height: auto;
      float: none;
    }
  }